// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$gray: #f4f4f4;

body {
  background: $gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
}

.letter-container {
  display: inline-block;
  padding: 15px;
  width: 15px;
  border: 1px solid;
  margin: 10px;
  background-color: rgb(4, 209, 245);
}

.letter {
  color: white;
  text-align: center;
  width: 10px;
  font-weight: 800;
}

.form-group {
  position: relative;
  display: flex;
  margin-top: 20px;
  width: 100%;
  & > .form-field {
    white-space: nowrap;
    display: block;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
}
